body{
    font-family: "Assistant", sans-serif;

}
.navbar{
    background-color: #154880 !important;
    box-shadow: 0 4px 12px 10px rgba(0, 0, 0, 0.25);
    margin-bottom:40px;
}

.nav-link{
    color: white !important;
    font-weight: bold !important;
}

.fa-cart-shopping,
.fa-user{
    font-size: 30px !important;
}
.heading{
    color: black;
}
.carousel-control-prev-icon,
.carousel-control-next-icon{
    background-color: rgb(121, 118, 118);
}
.navbar-toggler{
    background-color: white;
}



